﻿@model ProjectUniFinal.Entities.ProductsClass

@{
    ViewData["Title"] = "AnbarDari";
}

<h2>AnbarDari</h2>

<h4>ProductsClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AnbarDari">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" />
                <span asp-validation-for="Product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Number" class="control-label"></label>
                <input asp-for="Product_Number" class="form-control" />
                <span asp-validation-for="Product_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial_Product" class="control-label"></label>
                <input asp-for="Serial_Product" class="form-control" />
                <span asp-validation-for="Serial_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
