﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-primary">
                پنل انبار داری
            </h3>
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        نام کالا
                    </label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        تعداد کالا
                    </label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        شماره سریال کالا
                    </label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        قیمت کالا
                    </label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
              
                @*<div class="checkbox">

                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>*@
                <a href="#" class="btn btn-md btn-block btn-success" type="button">Button</a>
            </form> 
            <table class="table table-hover table-bordered" style="margin-top : 5%">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Payment Taken
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="table-success">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>